.sidenav-container {
  height: 100%;
}
.mat-icon-button {
  color: inherit;
  background: none;
}
.fill-space {
  flex: auto;
}
.logo {
  font-size: 1.2em;
}

.mat-drawer {
  background-color: #ededed;
}
