<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer>
    <div *ngIf="!(showDesktopOnlyElements$ | async)">
      <bklr-mobile-menu (menuLinkClicked)="drawer.toggle()"></bklr-mobile-menu>
    </div>

    <div *ngIf="showDesktopOnlyElements$ | async">
      <bklr-search-form (menuLinkClicked)="drawer.toggle()"></bklr-search-form>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle search"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon *ngIf="!(showDesktopOnlyElements$ | async)">menu</mat-icon>
        <mat-icon *ngIf="showDesktopOnlyElements$ | async">search</mat-icon>
      </button>

      <span class="logo" routerLink="/">📕 Booklogr</span>

      <span class="fill-space"></span>

      <div *ngIf="showDesktopOnlyElements$ | async">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/books">My books</a>
      </div>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
